.work {
  background-color: rgb(27, 31, 39);
}
iframe {
  margin-top: 30px;
  border-radius: 30px;
  width: 1300px;
  height: 300px;
}

@media (max-width: 992px) {
  /* .work .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
    height: 300px;
  } */
}

@media (max-width: 768px) {
  .work {
    /* padding-bottom: 40px; */
    background-color: antiquewhite;
  }
  iframe {
    /* margin-top: 30px; */
    border-radius: 30px;
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 600px) {
  .example {
    background-color: lightblue;
  }
}
